#projects {
  img {
    width: 100%; 
    height: auto;
  }
}

#case-study {
  img {
    width: 100%; 
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.project-container {
	padding-bottom: 40px;
	.project {
		margin: 60px 0px;
	}
}


.case-study {
	padding-bottom: 40px;
	section {
		margin: 60px 0px;
	}
}